@import "vars";
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

summary::-webkit-details-marker {
    display: none;
  }
  summary {display: block;}
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background: white;
    scroll-behavior: smooth;
    font-family: "Lato", sans-serif;

}
button {
    background: none;
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
}


.container {
    padding-left: calc(50% - $widthSite / 2);
    padding-right: calc(50% - $widthSite / 2);
}

.header {
    background: $headerBlock;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
        &__left {
            display: flex;
            align-items: center;
            gap: 41px;
        }
        &__right {
            display: flex;
            align-items: center;
            gap: 42px;
        }
        &_btn {
            border: none;
        }
}

.top-head {
    background: rgb(248, 243, 244);
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
        &__heading {
            color: $colorSelectSite;
            font-size: 24px;
            font-weight: 400;
            line-height: 29px;
        }
}

.breadcrumbs {
    font-size: 14px;
    line-height: 17px;
        &_link {
            font-weight: 300;
            font-size: 14px;
            line-height: 17px;
            color: $colorText;
        }
        &_link-site {
            font-family: Lato;
            font-weight: 700;
            color: $colorSelectSite; 
        }
}

.main-background{
    display: block;
    position: absolute;
    border: 1px solid rgb(234, 234, 234);
    width: 1600px;
    height: 777px;
}
.main-woman {
    position: relative;
    display: flex;
    padding-top: 11px;
    justify-self: center;
}


.blockInfo {
    background: rgb(255, 255, 255);
    border: 1px solid rgb(234, 234, 234);
    width: 1141px;
    padding-left: 230px;
    padding-right: 230px;
    position: relative;
    padding: 64px 234px;
    display: flex;
    justify-content: center;
    align-items: center;
        &__content {
            font-weight: 300;
            display: flex;
            align-items: center;
            flex-direction: column;
        }
        &__header {
            color: $colorSelectSite;
            font-size: 14px;
            font-weight: 300;
            line-height: 17px;
            border-bottom: 3px solid rgb(239, 91, 112);
            padding-bottom: 12px;       
        }
        &__subtitle {
            color: rgb(77, 77, 77);
            font-size: 18px;
            font-weight: 300;
            line-height: 22px;
            padding-top: 12px;
            padding-bottom: 48px;            
        }
        &__text {
            color: $colorText;
            font-size: 14px;
            font-weight: 300;
            line-height: 17px;
            padding-top: 48px;
            padding-bottom: 32px;
            text-align: center;
        }
        &__price {
            color: rgb(239, 91, 112);
            font-size: 24px;
            font-weight: 300;
            line-height: 29px;
            padding-top: 32px;
            border-bottom: 3px solid rgb(239, 91, 112);
            padding-bottom: 64px;
            width: 642px;
            text-align: center;
        }
        &__section {
            color: rgb(111, 110, 110);
            font-size: 14px;
            font-weight: 400;
            line-height: 17px;
            padding-top: 64px;
            display: flex;
            gap: 42px;
            padding-bottom: 48px;
        }
        &__summary {
            display: flex;
            align-items: center;
            gap: 5px;
        }
        &__button {
            margin-top: 48px;
            display: flex;
            justify-content: center;
            margin-bottom: 64px;  
        }
        &__buttonText {
            color: rgb(242, 99, 118);
            font-size: 16px;
            font-weight: 400;
            line-height: 19px;
            border: 1px solid rgb(255, 106, 106) ;  
            padding: 15px 57px 14px 24px;  
            display: flex;
            gap: 22px;
            align-items: center;     
        }



}

.cardList {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1fr;
    gap: 30px;
    padding-top: 128px;
    
        &__content {
            background: url(./img/Background.png);
        }
        &__header {
            color: rgb(0, 0, 0);
            font-size: 13px;
            font-weight: 400;
            line-height: 16px; 
            padding: 24px 193px 12px 18px;          
        }
        &__text {
            color: rgb(93, 93, 93);
            font-size: 14px;
            font-weight: 300;
            line-height: 17px;
            padding: 12px 28px 18px 16px;          
        }
        &__price {
            color: $colorSelectSite;
            font-size: 16px;
            font-weight: 400;
            line-height: 19px; 
            padding: 18px 289px 20px 18px;          
        }
    
}
.footer {
    background: #222;
    margin-top: 128px;
}

.footerInfo {
        &_Background {
            background: url(./img/Layer\ 41.svg);
            height: 448px;
            background-size: cover;
        }
        &_Layer {
            background: url(./img/Rectangle\ 26.svg);
            height: 448px;
            background-size: cover;
        }
        &__radiusPhoto {
            border-radius: 50%;
            
        }
        &__bothSide {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 327px;
            padding-top: 50px;
        }
        &__fig {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        &__footerInfo_LeftSide{
            display: flex;
            text-align: center;
        }
        &__LeftSide h2{
            color: rgb(34, 34, 36);
            font-style: italic;
            font-size: 20px;
            font-weight: 400;
            line-height: 24px;
            margin-top: 30px;
        }
        &__LeftSide span {
            font-size: 20px;
            font-style: italic;
            font-weight: 400;
            line-height: 24px;
            text-align: center; 
        }
        &__form {
            display: flex;
            margin-top: 32px;
            padding-left: 10px;
        }
        &__RightSide h2{
            font-size: 24px;
            font-weight: 700;
            line-height: 40.13px;
            text-align: center;
            
        }
        &__RightSide h3 {
            font-size: 18px;
            font-weight: 400;
            line-height: 30.1px;
            text-align: center;
            
        }
        &__radiusInput {
            border-radius: 20px 0 0 20px;
            padding: 7px 64px 6px 22px;
            display: block;
            border: none;
            background: rgb(225, 225, 225);
        }
        &__infoBtn {
            background: rgb(241, 109, 127);
            color: rgb(255, 255, 255);
            font-family: Lato;
            font-size: 14px;
            font-weight: 400;
            line-height: 17px;
            text-align: center;
            padding: 7px 7px 6px 8px;
            border-radius: 0 20px 20px 0;
            display: block;
            border: none;
        
        }
}

.endPage {
    display: flex;
    align-items: center; 
    gap: 655px;
    
}
.logos {
    display: flex;
    flex-direction: row;
    gap: 7px;
   
    
}

.pinterest button {
    width: 32px;
    height: 32px;
    transition: 0.3s;
    border: none;
    background-color: white;
}
.twitter button {
    width: 32px;
    height: 32px;
    transition: 0.3s;
    border: none;
    background-color: white;
}
.footerAddress{
    padding-top: 30px;
    padding-bottom: 30px;
    color: rgb(251, 251, 251);
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    min-width: 251px;
}